<!DOCTYPE html>
    <head>

    </head>
    <body>
        <form>
            <div style="text-align:center; font-size:20px; color:green; font-weight:bold">  
                <span th:utext="${message}"></span> 
            </div>
            <label for="username"><b>Korisnicko ime</b></label>
            <input type="text" placeholder="Unesi Korisnicko Ime" name="username" required>
            
            <label for="psw"><b>Sifra</b></label>
            <input type="password" placeholder="Unesi Sifru" name="psw" required>
        </form>
    </body>
</html>