<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Registrazion</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>

<form action="#" th:action="@{/registrujSe}" th:object="${KorisnikEntity}" method="post">
<div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-black mb-5">Registruj se da bi mogao da konkurises za posao!</h2>
                    <div class="container">
                        <h1>Sign Up</h1>
                        <p>Please fill in this form to create an account.</p>
                        <hr>
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Unesi Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Karakteri posle kojih mora da se nadje @ znak posle kojeg mora jos karaktera pa . pa jos 2 slova.\n Primer ispravne: ime123@gmail.com" required>
                
                        <label for="username"><b>Korisnicko ime</b></label>
                        <input type="text" placeholder="Unesi Korisnicko Ime" name="username" pattern="(?=.*\d)(?=.*[A-z]).{6,}" title="Mora imati 6 karaktera u kombinaciji slova i brojeva" required>
                        
                        <label for="password"><b>Sifra</b></label>
                        <input type="password" placeholder="Unesi Sifru" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Mora sadrzati veliko slovo, malo slovo, broj i ukupno najmanje 8 karaktera" required>
                
                        <label for="ime"><b>Ime</b></label>
                        <input type="text" placeholder="Unesi ime" name="ime" required>

                        <label for="prezime"><b>Prezime</b></label>
                        <input type="text" placeholder="Unesi Prezime" name="prezime" required>
                        
                        <label class="levo" for="mestoid"><b>Mesto</b></label>
                        <input class="levo" type="number" placeholder="Unesi Mesto" name="mestoid" required>

                        <label class="levo" for="broj"><b>Broj Telefona</b></label>
                        <input class="levo" type="number" placeholder="Unesi Broj" name="mobilni">
                        
                        <label class="levo" for="tip"><b>Tip Registracije</b></label>
                        <input class="levo" type="number" placeholder="Uneti 0 za korisnika, 1 za poslodavca" name="poslodavac" required>

                        <label for="o sebi"><b>O sebi</b></label>
                        <input type="text" placeholder="o sebi" name="osebi" required>
                        
                    <!--    <label>
                        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                        </label> -->
                
                        <div class="clearfix">
                        <button id="myButton" class="cancelbtn">Cancel</button>

                        <script type="text/javascript">
                            document.getElementById("myButton").onclick = function () 
                            {
                                location.href = "/";
                            };
                        </script>
                        <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
  </form>
</body>
</html>